body{
  overflow-y: hidden;
  background-color:#363636 ;
  font-family: 'interregular';
}

@font-face {
  font-family: 'interregular';
  src: url('../../assets/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
       url('../../assets/inter-variablefont_slntwght-webfont.woff') format('woff');
  font-weight:lighter;
  font-style:normal;
}

#middle_inner_container{
  height: 100%;
  width: 70%;
  background-color: #474A44;
  position: absolute;
  top: 0;
  left: 15%;
}

#icon_container{
  position: relative;
  height: 40%;
  width: 40%;
  left: 30%;
  top: 5%;
  background-image: url("../../assets/logo_no_background.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;
}

#form_container{
  position: relative;
  height: 100%;
}

#insert_email{
  position: relative;
  height: 5vh;
  width: 40%;
  left: 30%;
  top: 5%;
  padding: auto;
  border-radius: 1vh;
  border: 0.01vh solid #F5FFEC;
  display: flex;
  align-items: center;
}

#insert_email input{
  background-color:transparent;
  position: relative;
  border: none;
  height: 100%;
  width: 100%;
  color: #F5FFEC;
  font-size: 3.5vh;
  font-family: 'interregular';
}
#insert_email input:focus{
  outline: none;
}

#insert_email input::placeholder {
  color: #F5FFEC;
  font-family: 'interregular';
}

#insert_password{
  position: relative;
  height: 5vh;
  width: 40%;
  left: 30%;
  top: 8%;
  padding: auto;
  border-radius: 1vh;
  border: 0.01vh solid #F5FFEC;
  display: flex;
  align-items: center;
}

#insert_password input{
  font-family: 'interregular';
  background-color:transparent;
  position: relative;
  border: none;
  height: 100%;
  width: 100%;
  color: #F5FFEC;
  font-size: 3.5vh;
}
#insert_password input:focus{
  outline: none;
}

#insert_password input::placeholder {
  font-size: 3.5vh;
  font-family: 'interregular';
  color: #F5FFEC;
}

#login_button{
  position: relative;
  height: 5vh;
  width: 30%;
  left: 35%;
  top: 30%;
  border-radius: 1vh;
  background-color: #C1DBB3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
}
#login_button p{
  text-align: center;
  top: 25%;
}
#login_button:hover{
  background-color: #F8FFF4;
  cursor: pointer;
}
