@font-face {
    font-family: 'interregular';
    src: url('/WebApplication/res/inter-variablefont_slntwght-webfont.woff2') format('woff2'),
         url('/WebApplication/res/inter-variablefont_slntwght-webfont.woff') format('woff');
    font-weight:lighter;
    font-style:normal;
}

body{
    background-color:#363636 ;
    font-family: 'interregular';
    display: flex;
}
#leftPanel{ 
    position:fixed;
    top:0;
    left: 0;
    width: 15%;
    height: 100%;
}
#userPanel{
    position: relative;
    height: 5%;
    width: 100%;
    display: flex;
}
#userPanel:hover{
    cursor: pointer;
}
#userPanel_icon{
    width: 6vh;
    background-image: url("/WebApplication/res/personIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#userPanel:hover #userPanel_icon{
    background-image: url("/WebApplication/res/personIconWhite.png");
}
#userPanel:hover #userPanel_text{
    color: white;
}
#userPanel_text{
    width: 100%;
    display: flex;
    align-items: center;
    color: #DDF9C1;
    font-size: 3.5vh;
    text-align: center;
}
/* Events panel*/
#eventPanel{
    position: relative;
    height: 5%;
    width: 100%;
    display: flex;
}
#eventPanel:hover{
    cursor: pointer;
}
#eventPanel_icon{
    width: 6vh;
    background-image: url("/WebApplication/res/bookmarkIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#eventPanel:hover #eventPanel_icon{
    background-image: url("/WebApplication/res/bookmarkIconWhite.png");
}
#eventPanel:hover #eventPanel_text{
    color: white;
}
#eventPanel_text{
    width: 100%;
    display: flex;
    align-items: center;
    color: #DDF9C1;
    font-size: 3.5vh;
    text-align: center;
}
/*coupon panel */

#couponPanel{
    position: relative;
    height: 5%;
    width: 100%;
    display: flex;
}
#couponPanel:hover{
    cursor: pointer;
}
#couponPanel_icon{
    width: 6vh;
    background-image: url("/WebApplication/res/loyaltyCardIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#couponPanel:hover #couponPanel_icon{
    background-image: url("/WebApplication/res/loyaltyCardIconWhite.png");
}
#couponPanel:hover #couponPanel_text{
    color: white;
}
#couponPanel_text{
    width: 100%;
    display: flex;
    align-items: center;
    color: #DDF9C1;
    font-size: 3.5vh;
    text-align: center;
}

#middlePanel{
    background-color:#474A44;
    position:fixed;
    top:0;
    left:15%; 
    width: 70%;
    height: 100%;
}

#rightPannel{
    position:fixed;
    top:0;
    left: 85%;
    width: 15%;
    height: 100%;
}

#logoutPanel{
    position: relative;
    height: 5%;
    width: 100%;
    display: flex;
}
#leftPadding{
    width: 30%;
    display: flex;
}
#logoutPanel_text{
    width: auto;
    display: flex;
    align-items: center;
    color: #DDF9C1;
    font-size: 3.5vh;
    text-align: center;
}
#logoutPanel_icon{
    background-image: url("/WebApplication/res/logoutIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width:15%;
}
#logoutPanel_icon:hover{
    cursor: pointer;
}


