
#CouponForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

#CouponForm form{
    width: 40%;
}

#couponNameContainer,
#couponCodeContainer{
    height: 5vh;
    width: 100%; 
    padding: auto;
    border-radius: 1vh;
    border: 0.01vh solid #F5FFEC;
    display: flex;
    align-items: center;
    margin-bottom: 20%;
}
#couponDescriptionContainer{
    height: 10vh;
    width: 100%; 
    padding: auto;
    border-radius: 1vh;
    border: 0.01vh solid #F5FFEC;
    display: flex;
    align-items: center;
    margin-bottom: 20%;

}
#couponSubmitContainer {
    height: 5vh;
    width: 100%; 
    padding: auto;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    margin-bottom: 20%;
}

input{
    background-color:transparent;
    position: relative;
    border: none;
    height: 100%;
    width: 100%;
    color: #F5FFEC;
    font-size: 3.5vh;
    font-family: 'interregular';
}

input:focus{
    outline: none;
}

input::placeholder {
    color: #F5FFEC;
    font-family: 'interregular';
}

textarea{
    background-color:transparent;
    position: relative;
    border: none;
    height: 100%;
    width: 100%;
    color: #F5FFEC;
    font-size: 3.5vh;
    font-family: 'interregular';
    resize: none;
}

textarea:focus{
    outline: none;
}

textarea::placeholder {
    color: #F5FFEC;
    font-family: 'interregular';
}

#couponSubmitContainer  button{
  height: 5vh;
  width: 100%;
  border-radius: 1vh;
  background-color: #C1DBB3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5vh;
  font-family: inherit;
  outline: none;
  box-shadow: none;
  border-style: none;
}
#couponSubmitContainer  button:hover{
    background-color: #F8FFF4;
    cursor: pointer;
}
#couponSubmitContainer  button:focus{
    outline: none !important;
    box-shadow: none;
}