body{
    background-color:#363636 ;
    font-family: 'interregular';
    display: flex;
}
#leftPanel{ 
    position:fixed;
    top:0;
    left: 0;
    width: 15%;
    height: 100%;
}

#section_panel{
    position: relative;
    top: 5%;
    left: 45%;
    width: 10%;
    height: 8%;
    color: #DDF9C1;
    display: flex;
}
#option_search{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#option_search:hover{
    cursor:pointer;
    color: white;
}
#option_search:hover #search_icon{
    background-image: url("./res/SearchIcon_white.png");
}
#search_icon{
    align-self: center;
    background-image: url("./res/SearchIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
}
#search_text{
    justify-content: center;
    text-align: center;
    height: 30%;
    width: 100%;
    bottom: 0;
}
#option_add{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#option_add:hover{
    cursor:pointer;
    color: white;
}
#option_add:hover #add_icon{
    background-image: url("./res/SearchIcon.png");
}
#add_icon{
    align-self: center;
    background-image: url("./res/SearchIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 50%;
    width: 100%;
}
#add_text{
    justify-content: center;
    text-align: center;
    height: 30%;
    width: 100%;
    bottom: 0;
}
#userPanel{
    position: relative;
    height: 5%;
    width: 100%;
    display: flex;
}
#userPanel:hover{
    cursor: pointer;
}
#userPanel_icon{
    width: 6vh;
    background-image: url("./res/personIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#userPanel:hover #userPanel_icon{
    background-image: url("./res/personIconWhite.png");
}
#userPanel:hover #userPanel_text{
    color: white;
}
#userPanel_text{
    width: 100%;
    display: flex;
    align-items: center;
    color: #DDF9C1;
    font-size: 3.5vh;
    text-align: center;
}
/* Events panel*/
#eventPanel{
    position: relative;
    height: 5%;
    width: 100%;
    display: flex;
}
#eventPanel:hover{
    cursor: pointer;
}
#eventPanel_icon{
    width: 6vh;
    background-image: url("./res/bookmarkIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#eventPanel:hover #eventPanel_icon{
    background-image: url("./res/bookmarkIconWhite.png");
}
#eventPanel:hover #eventPanel_text{
    color: white;
}
#eventPanel_text{
    width: 100%;
    display: flex;
    align-items: center;
    color: #DDF9C1;
    font-size: 3.5vh;
    text-align: center;
}
/*coupon panel */

#couponPanel{
    position: relative;
    height: 5%;
    width: 100%;
    display: flex;
}
#couponPanel:hover{
    cursor: pointer;
}
#couponPanel_icon{
    width: 6vh;
    background-image: url("./res/loyaltyCardIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#couponPanel:hover #couponPanel_icon{
    background-image: url("./res/loyaltyCardIconWhite.png");
}
#couponPanel:hover #couponPanel_text{
    color: white;
}
#couponPanel_text{
    width: 100%;
    display: flex;
    align-items: center;
    color: #DDF9C1;
    font-size: 3.5vh;
    text-align: center;
}

#middlePanel{
    background-color:#474A44;
    position:fixed;
    top:0;
    left:15%; 
    width: 70%;
    height: 100%;
}

#rightPannel{
    position:fixed;
    top:0;
    left: 85%;
    width: 15%;
    height: 100%;
}

#logoutPanel{
    position: relative;
    height: 5%;
    width: 100%;
    display: flex;
}
#leftPadding{
    width: 30%;
    display: flex;
}
#logoutPanel_text{
    width: auto;
    display: flex;
    align-items: center;
    color: #DDF9C1;
    font-size: 3.5vh;
    text-align: center;
}
#logoutPanel_icon{
    background-image: url("./res/logoutIcon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    width:15%;
}
#logoutPanel_icon:hover{
    cursor: pointer;
}

#CouponForm{
    width: 100%;
    height: 100%;
    border: 1px red solid;
    display: flex;
    align-content: center;
    justify-content: center;
}