body {
    background-color:#363636 ;
    font-family: 'interregular';

    display: flex;
}

p {
    margin: 0;
    padding: 0;
}

.option_panel {

    width: 100%;    
    height: 6vh;

    display: flex;
    flex-direction: row;

    align-items: center;
}

.option_panel:hover .text_panel{
    cursor:pointer;
    color: white;
}

.text_panel {
    width: 20vw;
    height: 6vh;
    color: #DDF9C1;
    font-size: 3.5vh;
    text-align: center;

    align-items: center;

    display: flex;

    margin: 0;
    padding: 0;
}

.text_panel_right{
    width: 20vw;
    height: 6vh;
    color: #DDF9C1;
    font-size: 3.5vh;

    align-items:center;
    justify-content: end;

    display: flex;

    margin: 0;
    padding: 0;
}
.text_panel_right:hover{
    cursor:pointer;
    color: white;
}
.icon {
    width: 6vw;
    height: 6vh;
    background-size: contain;

    background-repeat: no-repeat;

    background-position: center;

}
 
.icon:hover{
    cursor:pointer;
}

#logOut_icon {
    background-image: url("../../assets/logoutIcon_green.png");
}

#logOut_panel:hover #logOut_icon{
    background-image: url("../../assets/logoutIcon_white.png");
}

#users_icon{
    background-image: url("../../assets/personIcon_green.png");
}

#users_panel:hover #users_icon{
    background-image: url("../../assets/personIcon_white.png");
}

#events_icon{
    background-image: url("../../assets/bookmarkIcon_green.png");
}

#events_panel:hover #events_icon{
    background-image: url("../../assets/bookmarkIcon_white.png");
}

#coupons_icon{
    background-image: url("../../assets/loyaltyCardIcon_green.png");
}

#coupons_panel:hover #coupons_icon{
    background-image: url("../../assets/loyaltyCardIcon_white.png");
}

#search_icon{
    background-image: url("../../assets/searchIcon_green.png");
}

#search_panel:hover #search_icon{
    background-image: url("../../assets/searchIcon_white.png");
}

#add_icon{
    background-image: url("../../assets/addIcon_green.png");
}

#add_panel:hover #add_icon{
    background-image: url("../../assets/addIcon_white.png");
}

#left_inner_container{ 
    top:0;
    left: 0;
    width: 15%;
    height: 100%;
    position:fixed;
    display: flex;
    flex-direction: column;
}

#middle_inner_container{
    top:0;
    left:15%; 
    width: 70%;
    height: 100%;
    position:fixed;
}

#right_inner_container{
    top:0;
    left: 85%;
    width: 15%;
    height: 100%;
    position:fixed;

    display: flex;
    flex-direction: column;
}

.action_panel {
    width: 100%;
    height: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

}

.search_bar{
    width: 50%;
    height: 20%;

    display: flex;

    border-radius: 1vh;
    border: 0.01vh solid #F5FFEC;

}
/*
@From Antek 
For future reference, it cannot be done like this: searchbar_input:focus etc.
 because for some reason it does not work, do not change it. 🐱
*/
.search_bar input:focus{
    outline: none;
}
.search_bar input::placeholder{
    color: #F5FFEC;
    font-family: 'interregular';
}
.searchbar_input{
    width: 100%;
    height: 100%;

    background-color:transparent;
    border: none;
    color: #F5FFEC;

    font-size: 3.5vh;
    font-family: 'interregular';
    
}


#search_icon{
    width: 10%;
    height: 100%;
}

.data_container {
    width: 100%;
    height: 80%;
    
    justify-content: space-between;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 4%;
    padding-right: 4%;

    padding-top: 0;
    padding-bottom: 0;

    box-sizing: border-box;
}

.information_container_user {
    width: 40%;
    height: 20%;
    position: relative;

    
    display: flex;
    flex-direction: row;

    border: 0.01vh solid #DDF9C1;
    border-radius: 3vh;
}

.data_field_container{
    width: 50%;
    height: 100%;
}

.data_field {
    padding-left: 2vh;
    padding-top: 1vh;
    color: #DDF9C1;
    border-bottom: #DDF9C1 solid 0.01vh;

}

.data_field p {
    padding: 0.5vh;
    font-size: 2vh;
}


.trash_bin_container{

    width: 10%;
    height: 30%;

    position:absolute;

    right: 0;
    bottom: 0;


    background-size: contain;

    background-repeat: no-repeat;

    background-position: center;
    
    background-image: url("../../assets/trashBinIcon_green.png");

    cursor: pointer;
}
.trash_bin_container:hover{
    background-image: url("../../assets/trashBinIcon_white.png");
}

#section_panel {

    width: 100%;
    height: 100%;

}